.container
  ul.color-list
    li.color
      .color__view.color-dark-shade-100
      .color__meta
        span.color__title Dark Shade 100%
        span.color__hex-code #1F2041
    li.color
      .color__view.color-dark-shade-75
      .color__meta
        span.color__title Dark Shade 75%
        span.color__hex-code #1F2041
    li.color
      .color__view.color-dark-shade-50
      .color__meta
        span.color__title Dark Shade 50%
        span.color__hex-code #1F2041
    li.color
      .color__view.color-dark-shade-25
      .color__meta
        span.color__title Dark Shade 25%
        span.color__hex-code #1F2041
    li.color
      .color__view.color-dark-shade-5
      .color__meta
        span.color__title Dark Shade 5%
        span.color__hex-code #1F2041
    li.color
      .color__view.color-purple
      .color__meta
        span.color__title Purple
        span.color__hex-code #BC9CFF
    li.color
      .color__view.color-green
      .color__meta
        span.color__title Green
        span.color__hex-code #6FCF97
  ul
    li.typo
      h1.typo__tag H1
      h1.type__description This one is the sub-section or widget title
    li.typo
      h2.typo__tag H2
      h2.type__description Next one is the item title inside widgets
    li.typo
      h3.typo__tag H3
      h3.type__description This is a label or CTA text
    li.typo
      p.typo__tag Body
      p.type__description This is the body text which is used for most of the design, like paragraphs, lists, etc.

